.btn{
    padding: 16px 20px;
    border: var(--color-white) 2px solid;
    border-radius: 16px;
    transition: all 0.3s ease-in;

    &:hover{
        color: var(--color-black);
        background-color: var(--color-blue);
        border-color: transparent;
    }
}

.btn_footer{
    color: var(--color-black);
    border: var(--color-black) 2px solid; 
}