.cards{
    height: 100%;

    .card{
        display: flex;
        height: 100%;
        gap: 64px;
    }
}

.card__media{
    aspect-ratio:  2 / 1.4;  

    img{
        display: block;
        width: 100%; 
        height: 100%;                           
    }
}

.card__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}