.cards{
    height: 100%;

    .card{
        display: flex;
        height: 100%;
        gap: 64px;

        .card__content{
            transition: all 0.5s ease-out;
        }

        @media screen and (max-width: $breakpoint-sm) {
               align-items: start;
                flex-direction: column;
                gap: 0px;
            }

        h3{
            @media screen and (max-width: $breakpoint-sm) {
            font-size: 24px;
        }
        }
        p{
            @media screen and (max-width: $breakpoint-sm) {
            font-size: 16px;
        }
        }

        &:hover{
            .card__content{
                transform: translateX(40px);
            }
        }
    }

    .card__media{
        aspect-ratio:  2 / 1.4;  

        img{
            display: block;
            width: 100%; 
            height: 100%;    
            
            @media screen and (max-width: $breakpoint-sm) {
                width: 150px;
                height: 200px;
            }
        }
    }

    .card__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        @media screen and (max-width: $breakpoint-sm) {
            width: 100%;
        } 
        
    }
}

.swiper-musique{
    .card{
        @media screen and (max-width:1170px) {
               align-items: start;
                flex-direction: column;
                gap: 42px;
            }


    }

    .card__content{
        @media screen and (max-width: 680px) {
                
                max-width: 300px;
            }
            @media screen and (max-width: 440px) {
            max-width: 260px;
           
        } 
    }

    .card__media{
        @media screen and (max-width: 1170px) {
                
                height: 360px;
            }

            img{
            display: block;
            width: 100%; 
            height: 100%;    
            
            @media screen and (max-width: $breakpoint-sm) {
                
                height: 160px;
            }
        }
            
    }
}

.swiper-lecture .card__media{
    aspect-ratio: 27 / 40;
}


.card-souvenir{
    position: relative;

    .card__media{
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .card__content{
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        padding: 48px 48px;
        width: 100%;
    }
}

.card-souvenir_lecture{
    .card__content{
        padding: 48px 72px;
    }
}

.card-hits{
    display: flex;
    flex-direction: column;
    gap: 32px;

    .card__media{
        img{
            width: 70%;
            height: 100%;
        }
    }

    h3{
        width: 70%;
        
    }

    .card__content{
        transition: all 0.5s ease-out;
    }

    &:hover{
        .card__content{
            transform: translateY(20px);
        }
    }
}

.card-hits_lecture{
    .card__media{
        height: 100%;
        width: 40%;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: 0 0;
        }
    }

    h3{
        width: 90%;
    }
}

.universe-cards{
    .universe-card{
        h3{
            transition: all 0.3s ease-out;
        }
        
        &:hover{
            background-color: var(--color-mauve) !important;
            box-shadow: 10px 10px var(--color-black);
        }
    }
}