/* ==========================================================================
   carousel / component
   ========================================================================== */
.swiper{
    max-height: 800px;
    display: flex;
    gap: 64px;
}

.swiper-wrapper{

}

.custom-pagination{
    align-self: center;
}

.swiper-pagination-bullet {
    --size: 22px;

    background: var(--color-white);
    border-radius: 100%;
    transition: transform 0.4s $ease-out-expo;
    height: var(--size);
    width: var(--size);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    transform: scale(1.05);
    background-color: var(--color-blue);
}