.footer {
    background-color: var(--color-white);
    padding: 40px 0 53px;

    p {
        color: var(--color-black);
        margin: 0;
        text-align: center;
    }

    hr{
        margin-bottom: 48px;
        background-color: var(--color-black);
        height: 1px;
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 65px;

    @media screen and (max-width: 800px){
        flex-direction: column;
        gap: 16px;
    }

    .nav-footer{
        color: var(--color-black);

        ul{
            display: flex;
            gap: 32px;
            list-style: none;
            padding: 0;

            li{
                text-transform: uppercase;
            }
        }

        @media screen and (max-width: 1100px){
            ul{
                flex-direction: column;
                gap: 16px;
            }
        }
    }
}

.footer__logo {
    .icon__brand {
        width: 12.5em;
        height: 4.4em;
        color: var(--color-black);
        transition: all 0.3s ease-in;
        
        &:hover{
            color: var(--color-mauve);
        }
    }
}
