.arguments {
    position: relative;
    .wrapper {
        display: flex;
        gap: var(--spacing-lg);
        padding-top: 80px;

        .argument-content{
            display: flex;
            flex-direction: column;
            gap: 24px;
            justify-content: center;
            padding-bottom: 60px;
        }

        h2{
             font-family: var(--font-secondary);
        }
        ul {
            
            display: flex;
            flex-direction: column;
            gap: 16px;
            
        }
        
        .argument-media{
            img{
                margin-left: -80px;
            }
            
        }

        @media screen and (max-width: 980px) {
            flex-direction: column;

            padding-bottom: 80px;

            .argument-media{
                display: flex;
                justify-content: center;
            }
        }
    }
}

.universe-list {
    background-color: var(--color-white);
    padding: 80px 0;
    h2 {
        font-family: var(--font-secondary);
        color: var(--color-black);
        padding-bottom: 24px;

        
    }
    .universe-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        
        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
        }

        h3{
           @media screen and (max-width: $breakpoint-lg) {
            font-size: 32px;
        } 

         @media screen and (max-width: 950px) {
            font-size: 24px;
        }
        
        }
       
        .universe-card {
            background-color: var(--color-black);
            color: var(--color-white);
            padding: 30px 30px 20px 30px;
        }
    }
}
