.hero{
    height: 80vh;
    position: relative;

    .wrapper{
        height: 100%;
    }

    .hero__media{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero__content{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
    }
}
