.hero-accueil {
    position: relative;

    .wrapper {
        height: 100%;
    }

    .hero-media {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        object-fit: cover;
        img {
            display: block;
        }
    }

    .hero-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: relative;
        z-index: 5;
        color: var(--color-black);
        padding-top: 325px;
        .hero-title {
            .hero-title-indent {
                padding-left: 150px;
            }
        }
        .hero-intro {
            max-width: 28vw;
            p {
                margin: 18px 0;
            }
        }
        h2 {
            font-family: var(--font-secondary);
        }
        p {
            margin: 0;
        }
        .hero-down {
            align-self: center;
            .hero-scrolldown {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.hero-music {
    height: 85vh;

    .hero__media {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;

        img {
            width: 100%;
        }
    }

    .hero__content {
        h1 {
            font-size: typo(152px);
            font-family: 'MuseoModerno', sans-serif;
            font-weight: 400;
            margin-top: 50px;
            margin-bottom: 48px;
        }

        p {
            width: 30%;
            margin: 0;
        }
    }
}

.hero-lecture{
    height: 80vh;

    .wrapper{
        display: flex;
        gap: 48px;
    }

    .hero__media{
        height: 100%;
        width: 80%;

        img{
            height: 100%;
            width: 100%;
        }
    }

    .hero__content {
        h1 {
            font-size: typo(152px);
            font-family: 'MuseoModerno', sans-serif;
            font-weight: 400;
            margin-top: 50px;
            margin-bottom: 48px;
        }

        p{
            margin: 0;
            width: 50%;
        }
    }
}
