.hero-accueil {
    position: relative;
    height: 87vh;
    background-color: var(--color-white);
    background-image: url(../assets/images/hero__bg.png);
     background-size: cover;
  background-position: center;
   @media screen and (max-width: $breakpoint-sm) {
            height: 100%;
        }

    .wrapper {
        height: 100%;
    }

    .hero-media {
        position: absolute;
        top: 120px;
        right: 0;
        z-index: 1;
                        
        @media screen and (max-width: $breakpoint-lg) {
            height: 720px;
            width: 720px;
            right: 0;
        }

        @media screen and (max-width: 1260px) {
             height: 600px;
            width: 600px;
            right: 0;
        }

        @media screen and (max-width: $breakpoint-md) {
            height: 600px;
            width: 600px;
            right: 0;
            top: 0;
        }
        @media screen and (max-width: 950px) {
            height: 600px;
            width: 600px;
            left: 0;
            top: 0;
        }
        @media screen and (max-width: 500px) {
            height: 400px;
            width: 400px;
        }
        
        img {
            display: block;
            height: 100%;
            width: 100%;
            //object-fit: cover;
        }
    }

    .hero-content {
        padding-top: 240px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        position: relative;
        z-index: 5;
        color: var(--color-black);
        @media screen and (max-width: 1260px) {
                    gap: 24px;
                    padding-top: 80px;
                }
         @media screen and (max-width: 950px) {
            justify-content: end;
        }
        @media screen and (max-width: $breakpoint-sm) {
            padding-top: 500px;
        }
        @media screen and (max-width: 500px) {
            padding-top: 360px;
        }

        .hero-title {
            .hero-title-indent {
                padding-left: 150px;
                @media screen and (max-width: 500px) {
            padding-left: 40px;
        }
            }
        }
        .hero-intro {
            max-width: 28vw;
            @media screen and (max-width: 1260px) {
                    font-size: 16px;
                    max-width: 60%;
                }
            p {
                margin: 24px 0;
                
            }
        }
        h2 {
            font-family: var(--font-secondary);
             @media screen and (max-width: 1260px) {
                    font-size: 40px;
                    
                }
        }

        h1{
            @media screen and (max-width: 1260px) {
                    font-size: 72px;
                    
                }
        }
        p {
            margin: 0;
            
        }
        /*.hero-down {
            align-self: center;
            .hero-scrolldown {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }*/
    }
}

.hero-music {
    height: 85vh;

    .hero__media {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;

        img {
            width: 100%;
        }
    }

    .hero__content {
        h1 {
            font-size: typo(152px);
            font-family: 'MuseoModerno', sans-serif;
            font-weight: 400;
            margin-top: 50px;
            margin-bottom: 48px;
        }

        p {
            max-width: 30%;
            margin: 0;
            @media screen and (max-width: 1260px) {
                    font-size: 16px;
                    max-width: 100%;
                }
        }
    }
}

.hero-lecture {
    height: 80vh;

    .wrapper {
        display: flex;
        gap: 48px;
    }

    .hero__media {
        height: 100%;
        width: 80%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .hero__content {
        h1 {
            font-size: typo(152px);
            font-family: 'MuseoModerno', sans-serif;
            font-weight: 400;
            margin-top: 50px;
            margin-bottom: 48px;
        }

        p {
            margin: 0;
            width: 50%;
        }
    }
}

.hero-cinema {
    height: 85vh;

    .hero__media {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;

        img {
            width: 100%;
        }
    }

    .hero__content {
        h1 {
            font-size: typo(152px);
            font-family: 'MuseoModerno', sans-serif;
            font-weight: 400;
            margin-top: 50px;
            margin-bottom: 48px;
        }

        p {
            width: 30%;
            margin: 0;
        }
    }
}
