.interaction{
    position: relative;
    padding: 180px 0 300px;

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .media{
        overflow: hidden;

        img{
            width: 100%;
            display: block;
        }
    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 40px;

        ul{
            margin: 0;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        span{
            color: var(--color-blue);
        }
    }
}