/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: 1760px;
    width: calc(100% - 80px);
    margin: 0 auto;
}
