/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #FEFEFE;
    --color-black: #0A0A0A;

    // Couleurs du projet
    --color-mauve: #B050FE;
    --color-blue: #43D6F0;
    --color-orange: #F9A383;
    --color-green: #8EFDCA;
}
