{% include '_partials/_header.html' %}

<section class="hero-cinema">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/cinemaHero.png" alt="">
        </div>
        <div class="hero__content">
            <h1>Univers du cinéma</h1>
            <p>
                L’univers cinématographique est un refuge visuel où renaissent les histoires et les images censurées. Grâce à une immersion en réalité augmentée et en son spatialisé, chaque scène devient un acte de résistance et un pont entre les époques, invitant à redécouvrir, partager et préserver un patrimoine cinématographique libre, critique et vivant face à l’oubli ou à la réécriture de l’histoire.
            </p>
        </div>
    </div>
</section>

<section class="oeuvres">
    <div class="wrapper">
        <h2 class="h2-music">Oeuvres</h2>
        <div class="vedette">
            <div class="content">
                <h3>Les enfants du paradis - 1945</h3>
                <p>
                    Les Enfants du Paradis (1945) raconte l’amour impossible de Garance pour quatre hommes dans le Paris du XIXᵉ siècle. Le film mêle passion, drame et théâtre populaire.
                </p>
            </div>
            <div class="media">
                <img src="assets/images/enfantsParadis.png" alt="">
            </div>
        </div>
        <div class="cards swiper swiper-lecture green" data-component="Carousel" data-direction="vertical" data-slides="2" data-space="55">
            <div class="custom-pagination"></div>
            <div class="swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/cendrillon.png" alt="">
                    </div>
                    <div class="card__content">
                        <h3>Cendrillon - 1950</h3>
                        <p>
                            Cendrillon (1950) est un film d’animation de Disney qui raconte l’histoire d’une jeune fille maltraitée par sa belle-mère et ses demi-sœurs, mais qui, grâce à sa marraine la fée, assiste au bal du prince et voit son destin changé.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/peterpan.png" alt="">
                    </div>
                    <div class="card__content">
                        <h3>Peter Pan - 1964</h3>
                        <p>
                            Peter Pan (1964) est un film d’animation de Disney qui suit les aventures de Peter Pan, le garçon qui ne veut pas grandir, et de Wendy, ses frères et la fée Clochette dans le monde magique du Pays Imaginaire, où ils affrontent le capitaine Crochet.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/edithPiaf.png" alt="">
                    </div>
                    <div class="card__content">
                        <h3>Édith Piaf - La vie en rose</h3>
                        <p>« La Vie en Rose » (1947) d’Édith Piaf est une chanson emblématique qui exprime la magie de l’amour et la beauté de voir la vie en rose malgré les épreuves. C’est un classique intemporel de la chanson française, plein d’émotion et de douceur.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="btn green">Soumettre une oeuvre</a>
    </div>
</section>

<section class="interaction">
    <div class="wrapper">
        <div class="media">
            <img src="assets/images/lunetteInteractionCinema.png" alt="">
        </div>
        <div class="content">
            <h2 class="h2-music">Interaction</h2>
            <p>Les grands classiques du cinéma reprennent vie devant vos yeux. Grâce à un affichage immersif intégré, Vision vous permet de redécouvrir des chefs d’œuvre  comme si l’écran vous enveloppait tout entier, à l’abri de toute censure.</p>
            <ul>
                <li><span class="green">Abaissez les lunettes</span> pour lancer la projection.</li>
                <li><span class="green">Faites glisser votre regard de droite à gauche</span> pour changer de scène, et laissez le film se dérouler autour de vous, entre rêve et réalité.</li>
            </ul>
        </div>
    </div>
</section>

<section class="souvenir">
    <div class="wrapper">
        <h2 class="h2-music">Des noms à se souvenir</h2>
        <div class="grid-3">
            <div class="card-souvenir card-souvenir_lecture">
                <div class="card__media">
                    <img src="assets/images/charlieChaplin.png" alt="">
                </div>
                <div class="card__content">
                    <h3>Charlie Chaplin</h3>
                </div>
            </div>
            <div class="card-souvenir card-souvenir_lecture">
                <div class="card__media">
                    <img src="assets/images/alfredHitchcock.png" alt="">
                </div>
                <div class="card__content">
                    <h3>Alfred Hitchcock</h3>
                </div>
            </div>
            <div class="card-souvenir card-souvenir_lecture">
                <div class="card__media">
                    <img src="assets/images/jeanRenoir.png" alt="">
                </div>
                <div class="card__content">
                    <h3>Jean Renoir</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hits">
    <div class="wrapper">
        <h2 class="h2-music">Les meilleurs hits</h2>
        <div class="grid-3">
            <div class="card-hits card-hits_lecture">
                <div class="card__media">
                    <img src="assets/images/enfantsParadis.png" alt="">
                </div>
                <div class="card__content">
                    <h3>Les enfants du paradis - 1945</h3>
                    <p>
                        Les Enfants du Paradis (1945) raconte l’amour impossible de Garance pour quatre hommes dans le Paris du XIXᵉ siècle. Le film mêle passion, drame et théâtre populaire.
                    </p>
                </div>
            </div>
            <div class="card-hits card-hits_lecture">
                <div class="card__media">
                    <img src="assets/images/cendrillon.png" alt="">
                </div>
                <div class="card__content">
                    <h3>Cendrillon - 1950</h3>
                    <p>
                        Cendrillon (1950) est un film d’animation de Disney qui raconte l’histoire d’une jeune fille maltraitée par sa belle-mère et ses demi-sœurs, mais qui, grâce à sa marraine la fée, assiste au bal du prince et voit son destin changé.
                    </p>
                </div>
            </div>
            <div class="card-hits card-hits_lecture">
                <div class="card__media">
                    <img src="assets/images/peterpan.png" alt="">
                </div>
                <div class="card__content">
                    <h3>Peter Pan - 1964</h3>
                    <p>
                        Peter Pan (1964) est un film d’animation de Disney qui suit les aventures de Peter Pan, le garçon qui ne veut pas grandir, et de Wendy, ses frères et la fée Clochette dans le monde magique du Pays Imaginaire, où ils affrontent le capitaine Crochet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}