{% include '_partials/_header.html' %}

<section class="hero-form">
    <div class="wrapper">
        <div class="form__content">
            <div class="hero-title">
                <h1 data-scrolly="fromLeft">Soumettre une oeuvre</h1>
                <div class="hero-title-indent">
                    <h2 data-scrolly="fromLeft">Joignez la résistance</h2>
                    <p>Dans un monde où la culture est filtrée, effacée ou réécrite, chaque œuvre devient un acte de résistance.</p>
                    <p>En partageant vos créations à travers le formulaire ci-dessous, vous contribuez à préserver la mémoire collective et à défendre la liberté d’expression artistique.</p>
                </div>
            </div>
        </div>

        <div class="form__media">
            <img src="assets/images/hero_form.png" alt="Lunettes Vision" data-scrolly="fromRight" />
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
