{% include '_partials/_header.html' %}

<section class="hero-accueil">
    <div class="wrapper">
        <div class="hero-media">
            <img src="assets/images/lunettes_hero.png" alt="Lunettes Vision" />
        </div>
        <div class="hero-content">
            <div class="hero-title">
                <h1>La liberté</h1>
                <div class="hero-title-indent">
                    <h2>À portée de regard</h2>
                    <p>Connecte-toi à la mémoire collective. <br> Résiste par la vision.</p>
                </div>
            </div>
            <div class="hero-intro">
                <p>Dans un monde où la culture est effacée, Vision te rend l’accès à ce qu’ils ont voulu cacher.</p>
                <p>Lis les livres interdits, regarde les films censurés, écoute les musiques bannies — tout à travers une simple paire de lunettes.</p>
            </div>
            <!--<div class="hero-down">
                <a href="" class="hero-scrolldown">
                    <p>En savoir plus</p>
                    <svg class="icon icon--lg">
                        <use href="#icon-chevron_down"></use>
                    </svg>
                </a>
            </div>-->
        </div>
    </div>
</section>

<section class="arguments">
    <div class="wrapper">
       
        <div class="argument-content">
            <h2>Pourquoi vision?</h2>
            <ul>
                <li>
                    Les verres diffusent des
                    <strong>écrans flottants</strong>
                    invisibles à l’œil nu.
                </li>
                <li>
                    Connexion à un
                    <strong>réseau sécurisé</strong>
                    .
                </li>
                <li>
                    Apparence sobre et minimaliste, il est
                    <strong>impossible de les distinguer</strong>
                    des lunettes ordinaires.
                </li>
                <li>
                    Suffisant d’une recharge pour
                    <strong>72 heures</strong>
                    de travail.
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="universe-list">
    <div class="wrapper">
        <h2>Découvrez l'interdit</h2>
        <div class="universe-cards">
            <a href="music.html" class="universe-card">
                <img src="assets/images/univers-musical.png" alt="" />
                <h3>Univers musical</h3>
        </a>
            <a href="lecture.html" class="universe-card">
                <img src="assets/images/univers-lecture.png" alt="" />
                <h3>Univers de lecture</h3>
            </a>
            <a  href="cinema.html" class="universe-card">
                <img src="assets/images/univers-cinema.png" alt="" />
                <h3>Univers du cinéma</h3>
            </a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
