{% include '_partials/_header.html' %}

<section class="hero hero-music">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/musiqueHero.png" alt="">
        </div>
        <div class="hero__content">
            <h1>Univers musical</h1>
            <p>L’univers musical est un refuge sonore où renaissent les voix et les œuvres censurées, mêlant les hymnes engagés d’Aretha Franklin, la poésie électrique de Jimi Hendrix, la douceur intemporelle d’Édith Piaf. Grâce à une immersion audio binaurale, chaque chanson devient un acte de résistance et un pont entre les générations, invitant à redécouvrir, partager et préserver un patrimoine culturel libre, critique et vivant face à la réécriture du passé.</p>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}